/C01_VaribaleOlusturmaVeKullanma.class
/C02_TopluVariableOlusdurmaVeAtama.class
/C03_PrimitivdataTürleri.class
/C04_NonePrimitiveDataTurleri.class
/C05_VaribaleIsimVermaKurallari.class
/C06_Scanner.class
